* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  border: solid 1px gray;
}

.screen {
  border-bottom: solid 1px gray;
  padding: 0.5rem;
}

.buttons {
  display: flex;
}

.buttons .buttons-col {
  height: 100px;
  border: solid 1px #b9b9b9;
}

.buttons .operators {
  width: 37px;
  border: none;
}

.col-grow {
  flex-grow: 1;
}

.buttons .buttons-col ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  height: 100%;
}


.buttons .operators ul li button {
  height: 25px;
}

.calc-button {
  width: 100%;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: solid 1px #b9b9b9;
}

.col-grow ul li button {
  height: calc(100px / 3);
}
.controls {
  display: flex;
}
.control {
  flex-grow: 1;
  border: solid 1px #b9b9b9;
  text-align: center;
}
